.scroll-content{
    margin-top: 50px!important;
    margin-bottom: 56px!important;
}

.desc{
    font-size: 15px;
}

.titlepad{
    padding-left: 32%!important;
}


.row {
    display: flex;
  }
  
  
.column {
    flex: 30%;
    padding: 10px;
  }
  .column1 {
    flex: 70%;
    padding: 10px;
  }